#settings-container {
  background-color: #C8E9A7;
  border-radius: 10px;
  box-shadow: 2px 2px 7px black;
  padding: 20px;
  width: 70%;
  margin: 20% auto;
}

#change-username {
  width: 95%;
}

#change-password {
  width: 95%;
}

.buttons {
  display: grid;
}

#change-user-save-btn {
  display: block;
  margin: 0 10px 0 auto;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: #3C7329;
  color: white;
  border: 0;
  box-shadow: 2px 2px 5px black;
  grid-column: 1;
}

#change-user-clear-btn {
  display: block;
  margin: 0 auto 0 10px;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: #5DB866;
  color: white;
  border: 0;
  box-shadow: 2px 2px 5px black;
  grid-column: 2;
}

#change-pass-save-btn {
  display: block;
  margin: 0 10px 0 auto;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: #3C7329;
  color: white;
  border: 0;
  box-shadow: 2px 2px 5px black;
  grid-column: 1;
}

#change-pass-clear-btn {
  display: block;
  margin: 0 auto 0 10px;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: #5DB866;
  color: white;
  border: 0;
  box-shadow: 2px 2px 5px black;
  grid-column: 2;
}

#delete-account-user {
  width: 95%;
}

#delete-account-pass {
  width: 95%;
}

#delete-btn {
  display: block;
  margin: 0 10px 0 auto;
  padding: 10px 20px;
  border-radius: 7px;
  background-color:#D72E2E;
  color: white;
  border: 0;
  box-shadow: 2px 2px 5px black;
  grid-column: 1;
}

#delete-clear-btn {
  display: block;
  margin: 0 auto 0 10px;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: #5DB866;
  color: white;
  border: 0;
  box-shadow: 2px 2px 5px black;
  grid-column: 2;
}

#user-errorMsg {
  color: red;
}

#pass-errorMsg {
  color: red;
}

#delete-errorMsg {
  color: red;
}

#user-successMsg {
  color: #2b611a;
}

#pass-successMsg {
  color: #2b611a;
}